// sass --watch scss/style.scss css/style.css --style compressed

@font-face {
  font-family: SFProText-Bold;
  src: url("../static/fonts/SF Pro/SF-Pro-Text-Bold.otf");
}
@font-face {
  font-family: SF-Pro-Text-Semibold;
  src: url("../static/fonts/SF Pro/SF-Pro-Text-Semibold.otf");
}

@font-face {
  font-family: SFProText-Medium;
  src: url("../static/fonts/SF Pro/SF-Pro-Text-Medium.otf");
}

@font-face {
  font-family: SFProText-Regular;
  src: url("../static/fonts/SF Pro/SF-Pro-Text-Regular.otf");
}

@font-face {
  font-family: SFProText-Light;
  src: url("../static/fonts/SF Pro/SF-Pro-Text-Light.otf");
}

@font-face {
  font-family: Chronicle-Display-Bold;
  src: url("../static/fonts/HCo_ChronDisplay/OpenType/ChronicleDisp-Bold.otf");
}

@font-face {
  font-family: ChronicleDisp-Semibold;
  src: url("../static/fonts/HCo_ChronDisplay/OpenType/ChronicleDisp-Semibold.otf");
}

@font-face {
  font-family: Chronicle-Display-Semibold;
  src: url("../static/fonts/HCo_ChronDisplay/OpenType/ChronicleDisp-Semibold.otf");
}


/*---------+---------+---------+---------+---------+---------+---*/
/*           |HEADER + NAV + LOGO STYLES + MOBILE MENU|          */
/*---------+---------+---------+---------+---------*---------+---*/


.site-header-button {
  z-index: 60;
}

.header {
  z-index: 5;
}

.header {
  position: relative;
  display: flex;
  justify-content: flex-start;

  .logo {
    font-family: SFProText-Bold;
    flex: 1 1 auto;

  }

  .nav-wrap {
    flex: 1 1 auto;
    text-align: right;

    .nav-item {
      font-family: SFProText-Regular;
    }
  }
}


@media only screen and (min-width: 769px) {
  .menuModule {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .menuModule {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: block;
    z-index: 59;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    .mobileMenuContainer {
      li {
        transform: translateY(40%);
        opacity: 0;
        transition: .3s;

        &.active {
          transform: translateY(0%);
          opacity: 1;
        }
      }
    }

    .footerMobileMenuContainer {
      opacity: 0;
      transition: .3s;

      &.active {
        opacity: 1;
      }
    }
  }
}


@media only screen and (min-width: 1581px) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .logo {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
  }

  .nav-item {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 2px;
    display: inline-block;

    &.center {
      margin: 0 50px;
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1580px) {
  .header {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1440px;
  }

  .logo {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
  }

  .nav-item {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 2px;
    display: inline-block;

    &.center {
      margin: 0 50px;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding: 40px 50px 20px;
    max-width: 1440px;
  }

  .logo {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
  }

  .nav-item {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 2px;
    display: inline-block;

    &.center {
      margin: 0 50px;
    }
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .header {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10.4vw;
    padding-right: 10.4vw;
    max-width: 1440px;
  }

  .logo {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
  }
}

@media only screen and (min-width: 769px) {
  .header .logo {
    max-width: 260px;
  }
}

.header-wrap.fixed {
  position: fixed;
  width: 100%;
  z-index: 60;
  background: #fff;
  top: 0;
  max-width: 100vw;
}


@media only screen and (max-width: 500px) {
  .header {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1440px;
  }

  .logo {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
  }
}


/*---------+---------+---------+---------*/
/*           |FOOTER STYLES|             */
/*---------+---------+---------+---------*/

// Footer for homepage
.home-page .footer-wrap {
  z-index: 5;
}


.footer-item {
  font-family: SFProText-Regular;
  color: #636466;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;

  &.center {
    margin: 0 20px;
  }
}

// Footer for all
.footer-wrap.fixed {
  text-align: center;
  height: 95px;
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;

  .footer {
    text-align: center;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
  }
}


@media only screen and (min-width: 501px) {
  .home-page .footer-wrap {
    position: absolute;
    bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fff;
    width: 100%;
    max-width: 1440px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  // Disabled footer by clicking the menu
  .js-home-page .footer-wrap.disabled-by-projects {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .home-page .footer-wrap {
    padding-bottom: 40px;
    padding-top: 20px;
    width: 100%;
    max-width: 1440px;
    text-align: center;
  }

  .footer-wrap.fixed.disabled-for-project {
    display: none;
  }

}


// Animation caused by navigation clicking

.footer-wrap.fixed.disabled {
  display: none;
}


/*---------+---------+---------+---------*/
/*          |HOME PAGE STYLES|           */
/*---------+---------+---------+---------*/


.js-home-page.disabled {
  display: none;
}


/*  GLOBAL STYLES  */

// Zindex setup


.title-wrap {
  z-index: 5;
}

.slide-wrap,
.slide-l {
  z-index: 4;
}

.layer-text,
.slide-r {
  z-index: 2;
}


@media only screen and (min-width: 501px) {

  // body {
  //     height: 100vh;
  //     overflow: hidden;
  // }

  .js-home-page.disabled-by-projects {
    display: none;
  }

  .home-page {
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .page.disabledScroll {
    overflow: hidden;
  }
}

@media only screen and (max-width: 500px) {
  .home-page {
    margin-top: 70px;
  }
}


/*  BODY STYLES */

/*  Title Styles */


.title-item {
  font-family: Chronicle-Display-Semibold;
  position: relative;
}

.title-wrap {
  pointer-events: none;
}

@media only screen and (min-width: 1660px) {
  .title-wrap {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 1660px;
    transform: translateY(-50%);
  }

  .title-item {
    font-size: 101px;
    line-height: 103px;
    letter-spacing: -1px;
  }

  .js-title-wrap {
    height: 103px;
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1659px) {
  .title-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .title-item {
    font-size: 101px;
    line-height: 103px;
    letter-spacing: -1px;
  }

  .js-title-wrap {
    height: 103px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) {
  .title-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .title-item {
    font-size: 86px;
    line-height: 86px;
  }

  .js-title-wrap {
    height: 86px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .title-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .title-item {
    font-size: 65px;
    line-height: 65px;
  }

  .js-title-wrap {
    height: 65px;
  }
}

@media only screen and (min-width: 501px) {
  .image-card {
    display: none;
  }

  .title-item {
    opacity: 0;

    &.current {
      opacity: 1;
    }
  }
}

@media only screen and  (min-width: 414px) and (max-width: 500px) {
  .title-wrap {
    margin: 20px;
    position: relative;

    &:not(.single-line) {
      height: 550px;
    }

    &.single-line {
      height: 508px;
    }

    &.desktop {
      display: none;
    }
  }

  .image-card {
    // background: yellow;
    height: 450px;
    max-width: 334px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .title-item {
    font-size: 50px;
    line-height: 42px;
    position: absolute;
    bottom: 31px;
    opacity: 1;

    &:not(.pause-studio-item) {
      left: 61px;
    }

    &.pause-studio-item {
      left: 50px;
    }
  }
}

@media only screen and (max-width: 413px) {
  .title-wrap {
    margin: 20px;
    position: relative;

    &:not(.single-line) {
      height: 492px;
    }

    &.single-line {
      height: 450px;
    }

    &.desktop {
      display: none;
    }
  }

  .image-card {
    // background: yellow;
    height: 392px;
    max-width: 297px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .title-item {
    font-size: 50px;
    line-height: 42px;
    position: absolute;
    bottom: 31px;
    opacity: 1;

    &:not(.pause-studio-item) {
      left: 61px;
    }

    &.pause-studio-item {
      left: 50px;
    }
  }
}


/*  Pagination Styles */
.layer-text {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.paginator-item {
  font-family: Chronicle-Display-Bold;
  opacity: 0;
  position: relative;

  &.current {
    opacity: 1;
  }

  &.total {
    opacity: 1;
    color: #77787b;
  }
}

@media only screen and (min-width: 1601px) {
  .layer-text {

    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: table;
    height: calc(100% - 137px);

    .paginator-wrap {
      width: 139px;
      margin: 0 0 0 auto;
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }


  }

  .paginator-item {
    font-size: 110px;
    height: 110px;

    .first {
      letter-spacing: 8px;
    }
  }

  .total.paginator-item::before {
    content: "";
    height: 2px;
    background: black;
    width: 127px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) {
  .layer-text {

    max-width: 1440px;
    width: 100%;
    position: absolute;
    right: 70px;
    display: table;
    height: calc(100% - 137px);

    .paginator-wrap {
      width: 139px;
      margin: 0 0 0 auto;
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }


  }

  .paginator-item {
    font-size: 86px;
    height: 86px;

    .first {
      letter-spacing: 6px;
    }
  }

  .total.paginator-item::before {
    content: "";
    height: 2px;
    background: black;
    width: 99px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .layer-text {

    max-width: 1440px;
    width: 100%;
    position: absolute;
    right: 50px;
    display: table;
    height: calc(100% - 137px);

    .paginator-wrap {
      width: 139px;
      margin: 0 0 0 auto;
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }
  }

  .paginator-item {
    font-size: 65px;
    height: 65px;

    .first {
      letter-spacing: 4px;
    }
  }

  .total.paginator-item::before {
    content: "";
    height: 1px;
    background: black;
    width: 74px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .layer-text {

    max-width: 1440px;
    width: 100%;
    position: absolute;
    right: 10.4vw;
    display: table;
    height: calc(100% - 137px);

    .paginator-wrap {
      width: 139px;
      margin: 0 0 0 auto;
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }
  }

  .paginator-item {
    font-size: 65px;
    height: 65px;

    .first {
      letter-spacing: 4px;
    }
  }

  .total.paginator-item::before {
    content: "";
    height: 1px;
    background: black;
    width: 74px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media only screen and (max-width: 500px) {
  .layer-text {
    display: none;
  }
}


/*  HAMBURGER STYLES */

button {
  //cursor: pointer;
  //background-color: transparent;
  color: white;
  border: none;
  outline: none;
}


.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.site-header-button .button-bar--1 {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.site-header-button .button-bar--2 {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.site-header-button .button-bar--3 {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}

.site-header-button .button-bar {
  position: absolute;
  top: 50%;
  right: 6px;
  left: 6px;
  height: 2px;
  width: auto;
  margin-top: -1px;
  transition: opacity .3s cubic-bezier(.165, .84, .44, 1), background-color .6s cubic-bezier(.165, .84, .44, 1), -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
  transition: transform .6s cubic-bezier(.165, .84, .44, 1), opacity .3s cubic-bezier(.165, .84, .44, 1), background-color .6s cubic-bezier(.165, .84, .44, 1);
  transition: transform .6s cubic-bezier(.165, .84, .44, 1), opacity .3s cubic-bezier(.165, .84, .44, 1), background-color .6s cubic-bezier(.165, .84, .44, 1), -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
  background-color: #000;
}

.site-header-button {
  position: relative;
  height: 30px;
  width: 32px;
  margin-top: -1px;
  margin-right: -6px;
  padding: 8px 6px;
  display: block;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  pointer-events: all;
  transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
  transition: transform .6s cubic-bezier(.165, .84, .44, 1);
  transition: transform .6s cubic-bezier(.165, .84, .44, 1), -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
}


/* activated */
.site-header-button.is-active {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.site-header-button.is-active .button-bar--1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.site-header-button.is-active .button-bar--2 {
  opacity: 0;
}

.site-header-button.is-active .button-bar--3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.site-header-button.is-active .button-bar {
  transition: opacity .3s cubic-bezier(.165, .84, .44, 1), background-color .6s cubic-bezier(.165, .84, .44, 1), -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
  transition: transform .6s cubic-bezier(.165, .84, .44, 1), opacity .3s cubic-bezier(.165, .84, .44, 1), background-color .6s cubic-bezier(.165, .84, .44, 1);
  transition: transform .6s cubic-bezier(.165, .84, .44, 1), opacity .3s cubic-bezier(.165, .84, .44, 1), background-color .6s cubic-bezier(.165, .84, .44, 1), -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
}

@media only screen and (min-width: 769px) {
  .site-header-button {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav-wrap {
    display: none;
  }
}

/*  MOBILE CONTACT BLOCK STYLES */

.contact-mobile-screens {
  font-family: SFProText-Bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 85px;
}

.contact-mobile-menu {
  font-family: SFProText-Bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 30px;
  border-top: 2px solid #636466;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 100%;
}

@media only screen and (min-width: 501px) {
  .contact-mobile-screens {
    display: none;
  }
}


/*  SLIDER STYLES */

.slide-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: auto;
}

.slide-l {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.slide-r {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  display: none;
}

@media only screen and (min-width: 1660px) {

  .slide-l {
    width: 30%;
    margin-left: 19%;

    .slide-cell {
      width: auto;
      right: 0;
      left: auto;
    }
  }

  .slide-r {
    display: block;
    margin-left: 0;
    left: auto;
    right: 0;
    width: 30%;
    margin-right: 19%;

    .slide-cell {
      width: auto;
      left: 0;
      right: auto;
    }
  }

  .slide-cell {
    position: absolute;
    overflow: hidden;
    height: 750px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 542px;

    img {
      height: 100%;
    }
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1659px) {

  .slide-l {
    width: 30%;
    margin-left: 19%;

    .slide-cell {
      width: auto;
      right: 0;
      left: auto;
    }
  }

  .slide-r {
    display: block;
    margin-left: 0;
    left: auto;
    right: 0;
    width: 30%;
    margin-right: 19%;

    .slide-cell {
      width: auto;
      left: 0;
      right: auto;
    }
  }

  .slide-cell {
    position: absolute;
    overflow: hidden;
    height: 642px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1600px) {
  .slide-l {
    width: 32%;
    margin-left: 17%;

    .slide-cell {
      width: auto;
      right: 0;
      left: auto;
    }
  }

  .slide-r {
    display: block;
    margin-left: 0;
    left: auto;
    right: 0;
    width: 32%;
    margin-right: 17%;

    .slide-cell {
      width: auto;
      left: 0;
      right: auto;
    }
  }

  .slide-cell {
    position: absolute;
    overflow: hidden;
    height: 642px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .slide-l {
    width: 32%;
    margin-left: 17%;

    .slide-cell {
      width: auto;
      right: 0;
      left: auto;
    }
  }

  .slide-r {
    display: block;
    margin-left: 0;
    left: auto;
    right: 0;
    width: 32%;
    margin-right: 17%;

    .slide-cell {
      width: auto;
      left: 0;
      right: auto;
    }
  }

  .slide-cell {
    position: absolute;
    overflow: hidden;
    height: 525px;
    top: 50%;
    transform: translateY(-50%);

    img {
      height: 100%;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .slide-l {
    width: 32%;
    margin-left: 17%;

    .slide-cell {
      width: auto;
      right: 0;
      left: auto;
    }
  }

  .slide-r {
    display: block;
    margin-left: 0;
    left: auto;
    right: 0;
    width: 32%;
    margin-right: 17%;

    .slide-cell {
      width: auto;
      left: 0;
      right: auto;
    }
  }

  .slide-cell {
    position: absolute;
    overflow: hidden;
    height: 432px;
    top: 50%;
    transform: translateY(-50%);

    img {
      height: 100%;
    }
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .slide-r {
    display: none;
  }

  .slide-l {
    position: absolute;
    top: 0;
    left: 0;
    width: 63vw;
    height: 100%;
    margin-left: 10.4vw;
    overflow: hidden;

    .slide-cell {
      position: absolute;
      width: 100%;
      height: 85vw;
      max-height: 664px;
      overflow: hidden;
      top: 50%;
      transform: translateY(-50%);

      img {
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .layer-slider {
    display: none;
  }
}


/*  PAGINATION ANIMATION STYLES */

// Animation caused by scroll on homepage

.total,
.total.paginator-item::before,
.js-rotate div {
  transition: 900ms;
}

.paginator-item {
  overflow: hidden;
}

.js-rotate {
  position: relative;

  div {
    position: absolute;
    right: 0;
    transform: translateY(-100%);
    opacity: 0;

    &.active {
      transform: translateY(0%);
      opacity: 1;
    }

    &.rotated {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}

// Animation caused by navigation clicking

.layer-text {
  transition: 200ms;

}

.layer-text.disabled {
  opacity: 0;
}


/*  TITLE ANIMATION STYLES */

// Animation caused by scroll on homepage


.js-title {
  transition: 900ms;
  background: none;
}

.js-title-wrap {
  position: relative;
  overflow: hidden;
  background: none;

  .js-title {
    position: absolute;
    left: 0;
    transform: translateY(120%);
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);

    &.active {
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
    }

  }

}

@media only screen and (min-width: 769px) {
  .js-title-wrap {
    width: 60vw;
  }
}

@media only screen and (max-width: 768px) {
  .js-title-wrap {
    width: 73vw;
  }
}


// Animation caused by navigation clicking

.title-wrap {
  transition: 400ms;
}

.title-wrap.disabled {
  opacity: 0;
}


/*  SLIDER IMAGE ANIMATION STYLES */


// Animation caused by scroll on homepage

.slide-r .slide-cell,
.slide-l .slide-cell {
  z-index: 0;

  img {
    transition: 900ms;
    height: 100%;
  }

  &.active {
    z-index: 1;

    img {
      transform: translateY(0) scale(1);

      &:hover {
        transition: 0ms;
        transform: translateY(0) scale(1.1);
      }
    }

  }
}


@media only screen and (min-width: 1601px) {
  .slide-r .slide-cell {
    img {
      transform: translate3d(0, 900px, 0);
    }
  }

  .slide-l .slide-cell {
    img {
      transform: translate3d(0, -900px, 0);
    }
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1600px) {
  .slide-r .slide-cell {
    img {
      transform: translate3d(0, 900px, 0);
    }
  }

  .slide-l .slide-cell {
    img {
      transform: translate3d(0, -900px, 0);
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .slide-r .slide-cell {
    img {
      transform: translate3d(0, 800px, 0);
    }
  }

  .slide-l .slide-cell {
    img {
      transform: translate3d(0, -800px, 0);
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .slide-r .slide-cell {
    img {
      transform: translate3d(0, 700px, 0);
    }
  }

  .slide-l .slide-cell {
    img {
      transform: translate3d(0, -700px, 0);
    }
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .slide-l .slide-cell {
    img {
      transform: translate3d(0, -90vh, 0);
    }
  }

}

// Animation caused by navigation clicking

#js-slide-l,
#js-slide-r {
  transition: 900ms;
}

#js-slide-l.disabled {
  transform: translateY(-100vh);
  opacity: 0;
}

#js-slide-r.disabled {
  transform: translateY(100vh);
  opacity: 0;
}


// Animation caused by hovering over the image

.slide-r .slide-cell.active,
.slide-l .slide-cell.active {
  img:hover {
    animation: scaleOnHover 400ms linear;
  }
}


@keyframes scaleOnHover {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}


/*  HOVER AND SELECTED NAV STYLES */

@media only screen and (min-width: 768px) {
  .nav-item {
    position: relative;

    &::before {
      transform: scaleX(.0001);
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: black;
      transition: transform .3s cubic-bezier(.215, .61, .355, 1);

    }

    &.active::before {
      transform: scaleX(1);
    }


    // Hover on nav items
    .wrapper:hover {
      div {
        animation: textclip 1.5s linear;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
      }
    }

    .wrapper {
      div {
        color: #000;
        background: linear-gradient(to left, #000 30%, #fff 50%, #000 70%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 300% auto;
        -webkit-background-clip: text;
        display: inline-block;
      }

    }

  }

  #projectsNav,
  #aboutNav.right-origin {
    &::before {
      transform-origin: center;
    }
  }

  #aboutNav.left-origin,
  #contactNav {
    &::before {
      transform-origin: center;
    }
  }


  @keyframes textclip {
    from {
      background-position: 300% center
    }
  }
}


/*---------+---------+---------+---------*/
/*         |PROJECT PAGE STYLES|         */
/*---------+---------+---------+---------*/


/*  STYLES */

.extra-space {
  height: 95px;
}

.tile-caption {
  font-family: Chronicle-Display-Semibold, serif;
  transition: .3s;
  transform: translateX(0);

  &:hover {
    transform: translateX(30px);
  }

  &.hover {
    transform: translateX(30px);
  }
}

.row-zero--vertical-image {
  background: url('../static/images/LinsmorePJ.jpg') no-repeat;
  background-size: cover;
}

.left.row-one--vertical-image {
  background: url('../static/images/Homepage 121221 Jason Ho 0131_edit.jpg') no-repeat;
  background-size: cover;
}

.right.row-one--vertical-image {
  background: url('../static/images/Homepage 121221 Jason Ho 0167_edit.jpg') no-repeat;
  background-size: cover;
}

.left.row-two--vertical-image {
  background: url('../static/images/Homepage 131226_PauseStudioA_0066-Edit.jpg') no-repeat;
  background-size: cover;
}

.right.row-two--vertical-image {
  background: url('../static/images/Homepage 131226_PauseStudioA_0219-Edit.jpg') no-repeat;
  background-size: cover;
}


.row-zero--horizontal-image {
  background: url('../static/images/LinsmoreMobileHP.jpg') no-repeat;
  background-size: cover;
}

.row-one--horizontal-image {
  background: url('../static/images/kitchen.jpg') no-repeat;
  background-size: cover;
}

.row-two--horizontal-image {
  background: url('../static/images/pause.jpg') no-repeat;
  background-size: cover;
}

.projects-page-title {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 60;
  font-family: Chronicle-Display-Semibold, serif;
  top: 0;

  span {
    display: block;
  }

  .white {
    color: white;
  }
}

.contact-us {
  & > p {
    font-family: Chronicle-Display-Semibold, serif;
    text-align: center;
  }

  .btn {
    transition: .3s;
    background: #ecebec;

    &:hover {
      background: black;

      * {
        color: white;
      }
    }

    p {
      font-family: SF-Pro-Text-Semibold, serif;
      transition: .3s;
      color: black;
    }
  }


}

@media only screen and (min-width: 1401px) {
  .projects-page {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 100px;
  }

  .tiles-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1238px;
    margin: 0 auto 80px auto;
  }


  .tile {
    position: relative;
    display: inline-block;

    &:not(.full-vertical) {
      height: 513px;
    }

    &.vertical {
      width: 364px;
      background: #fff;
    }

    &.full-vertical {
      width: 100%;
      height: 789px;
    }

    &.horizontal {
      width: 750px;
      background: #fff;
    }
  }

  .tile-image {

    // background: green;
    &:not(.row-zero--vertical-image) {
      height: 480px;
    }

    &.row-zero--vertical-image {
      height: 756px;
    }
  }

  .tile-caption {
    position: absolute;
    bottom: 0;
    font-size: 18px;
  }

  .projects-page{
    .contact-us {
      height: 275px;
      border-top: 1px solid #58595b;
      max-width: 1238px;
      margin: 0 auto;

      & > p {
        font-size: 50px;
        padding-top: 65px;
      }

      .btn {
        display: table;
        width: 183px;
        height: 40px;
        margin: 60px auto 0 auto;
        border-radius: 16px;


        .v-align {
          padding: 10px;
          display: table-cell;
          text-align: center;
          vertical-align: middle;

          .cell {
            display: inline-block;
            vertical-align: top;

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }


}

@media only screen and (min-width: 1211px) and (max-width: 1400px) {
  .projects-page {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 100px;
  }

  .tiles-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1070px;
    margin: 0 auto 80px auto;
  }

  .tile {
    position: relative;
    display: inline-block;

    &:not(.full-vertical) {
      height: 447px;
    }

    &.vertical {
      width: 315px;
      background: #fff;
    }

    &.full-vertical {
      width: 100%;
      height: 716px;
    }

    &.horizontal {
      width: 650px;
      background: #fff;
    }
  }

  .tile-image {
    // background: green;
    &:not(.row-zero--vertical-image) {
      height: 416px;
    }

    &.row-zero--vertical-image {
      height: 685px;
    }
  }

  .tile-caption {
    position: absolute;
    bottom: 0;
    font-size: 16px;
  }

  .projects-page {
    .contact-us {
      height: 275px;
      border-top: 1px solid #58595b;
      max-width: 1070px;
      margin: 0 auto;

      & > p {
        font-size: 50px;
        padding-top: 65px;
      }

      .btn {
        display: table;
        width: 183px;
        height: 40px;
        margin: 60px auto 0 auto;
        border-radius: 16px;


        .v-align {
          padding: 10px;
          display: table-cell;
          text-align: center;
          vertical-align: middle;

          .cell {
            display: inline-block;
            vertical-align: top;

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 966px) and (max-width: 1210px) {
  .projects-page {
    max-width: 1210px;
    margin: 0 auto;
    padding-top: 100px;
  }

  .tiles-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 865px;
    margin: 0 auto 55px auto;
  }

  .tile {
    position: relative;
    display: inline-block;

    &:not(.full-vertical) {
      height: 360px;
    }

    &.vertical {
      width: 255px;
      background: #fff;
    }

    &.full-vertical {
      width: 100%;
      height: 552px;
    }

    &.horizontal {
      width: 524px;
      background: #fff;
    }
  }

  .tile-image {
    // background: green;
    &:not(.row-zero--vertical-image) {
      height: 336px;
    }

    &.row-zero--vertical-image {
      height: 528px;
    }
  }

  .tile-caption {
    position: absolute;
    bottom: 0;
    font-size: 14px;
  }

  .projects-page {
    .contact-us {
      height: 250px;
      border-top: 1px solid #58595b;
      max-width: 865px;
      margin: 0 auto;

      & > p {
        font-size: 40px;
        padding-top: 65px;
      }

      .btn {
        display: table;
        width: 183px;
        height: 40px;
        margin: 60px auto 0 auto;
        border-radius: 16px;


        .v-align {
          padding: 10px;
          display: table-cell;
          text-align: center;
          vertical-align: middle;

          .cell {
            display: inline-block;
            vertical-align: top;

            p {
              font-size: 16px;
            }
          }
        }
      }
    }

  }

}

@media only screen and (min-width: 966px) {
  .tile-image.right {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 965px) {
  .projects-page {
    max-width: 768px;
    margin: 0 auto;
    padding-top: 80px;
  }

  .tiles-wrap {

    max-width: 609px;
    margin: 0 auto 55px auto;
    //padding-left: 10.4vw;
    //padding-right: 10.4vw;
    display: flex;
    justify-content: space-between;

    .tile:last-child:not(.full-vertical) {
      //margin-top: 55px;
    }
  }

  .tile {
    height: 270px;
    position: relative;


    &.vertical {
      background: #fff;

      .double-image {
        display: flex;
        justify-content: space-between;

        .tile-image {
          width: 179px;
          height: 236px;

          &.right {
            display: none;
          }
        }
      }
    }

    &.full-vertical {
      width: 100%;
      height: 407px;
    }

    &.horizontal {
      width: 369px;
      background: #fff;
    }
  }

  .tile-image {
    &:not(.row-zero--vertical-image) {
      height: 236px;
    }

    &.row-zero--vertical-image {
      height: 372px;
    }

    // background: green;
  }

  .tile-caption {
    position: absolute;
    bottom: 0;
    font-size: 14px;
  }

  .projects-page {
    .contact-us {
      height: 250px;
      border-top: 1px solid #58595b;
      max-width: 609px;
      margin: 0 auto;

      & > p {
        font-size: 40px;
        padding-top: 65px;
      }

      .btn {
        display: table;
        width: 183px;
        height: 40px;
        margin: 60px auto 0 auto;
        border-radius: 16px;


        .v-align {
          padding: 10px;
          display: table-cell;
          text-align: center;
          vertical-align: middle;

          .cell {
            display: inline-block;
            vertical-align: top;

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 701px) and (max-width: 768px) {
  .projects-page {
    max-width: 768px;
    margin: 0 auto;
    padding-top: 80px;
  }

  .tiles-wrap {

    max-width: 609px;
    margin-bottom: 55px;
    padding-left: 10.4vw;
    padding-right: 10.4vw;
    display: flex;
    justify-content: space-between;

    .tile:last-child:not(.full-vertical) {
      //margin-top: 55px;
    }
  }

  .tile {
    height: 270px;
    position: relative;


    &.vertical {
      background: #fff;

      .double-image {
        display: flex;
        justify-content: space-between;

        .tile-image {
          width: 179px;
          height: 236px;

          &.right {
            display: none;
          }
        }
      }
    }

    &.full-vertical {
      width: 100%;
      height: 407px;
    }

    &.horizontal {
      width: 369px;
      background: #fff;
    }
  }

  .tile-image {
    &:not(.row-zero--vertical-image) {
      height: 236px;
    }

    &.row-zero--vertical-image {
      height: 372px;
    }

    // background: green;
  }

  .tile-caption {
    position: absolute;
    bottom: 0;
    font-size: 14px;
  }

  .projects-page{
    .contact-us {
      height: 250px;
      border-top: 1px solid #58595b;
      margin-left: 10.4vw;
      margin-right: 10.4vw;
      width: auto;

      & > p {
        font-size: 32px;
        padding-top: 65px;
      }

      .btn {
        display: table;
        width: 183px;
        height: 40px;
        margin: 60px auto 0 auto;
        border-radius: 16px;


        .v-align {
          padding: 10px;
          display: table-cell;
          text-align: center;
          vertical-align: middle;

          .cell {
            display: inline-block;
            vertical-align: top;

            p {
              font-size: 16px;
            }
          }
        }
      }
    }

  }

}

// responsive tiles
@media only screen and (min-width: 501px) and (max-width: 700px) {

  .projects-page {
    max-width: 767px;
    margin: 0 auto;
    padding-top: 80px;
  }

  .tiles-wrap {

    max-width: 609px;
    margin: 0 10.4vw 55px 10.4vw;

    .tile:last-child:not(.full-vertical) {
      margin-top: 55px;
    }
  }

  .tile {
    // height: 420px;
    height: 56vw;
    position: relative;


    &.vertical {
      background: #fff;

      .double-image {
        display: flex;
        justify-content: space-between;

        .tile-image {
          // width: 295px;
          max-width: 295px;
          width: 47%;
        }
      }
    }

    &.full-vertical {
      width: 100%;
    }

    &.horizontal {
      // width: 609px;
      max-width: 609px;
      width: 100%;
      background: #fff;
    }
  }

  .tile-image {
    height: 52vw;
    // height: 390px;
    // background: green;
  }

  .tile-caption {
    position: absolute;
    bottom: 0;
    font-size: 14px;
  }

  .projects-page {
    .contact-us {
      height: 250px;
      border-top: 1px solid #58595b;
      margin-left: 10.4vw;
      margin-right: 10.4vw;
      width: auto;

      & > p {
        font-size: 32px;
        padding-top: 65px;
      }

      .btn {
        display: table;
        width: 183px;
        height: 40px;
        margin: 60px auto 0 auto;
        border-radius: 16px;


        .v-align {
          padding: 10px;
          display: table-cell;
          text-align: center;
          vertical-align: middle;

          .cell {
            display: inline-block;
            vertical-align: top;

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 501px) {
  .projects-page {
    margin-top: 130px;
  }
}

@media only screen and (max-width: 500px) {
  .projects-page {
    display: none !important;
  }
}

// projects-page-title
@media only screen and (min-width: 966px) {
  .projects-page-title {
    font-size: 110px;
    line-height: 100px;
  }
}

@media only screen and (max-width: 965px) {
  .projects-page-title {
    font-size: 80px;
    line-height: 76px;
  }
}

/*  PAGE ANIMATION STYLES */


.projects-page {
  transition: 900ms;
  opacity: 1;
  transform: translateY(0);
}

.projects-page.disabled {
  visibility: hidden;
  opacity: 0 !important;
  transform: translateY(110vh) !important;
  display: none;
}

/*@media only screen and (min-width: 768px) and (max-width:1024px){
    .projects-page.disabled {
        display: none;
    }
}*/


/*  CURSOR STYLES */


@media only screen and (min-width: 1025px) {
  /* Hiding the System Cursor */
  * {
    cursor: none;
  }

  /* Basic Colors and Layout */
  body.tutorial {
    --color-text: #000;
    --color-link: #000;
  }

  /* The Basic Cursor Styles */
  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  .cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: var(--color-text);
  }

  .cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
  }
}

@media only screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }
}

